.chatWrapper.you {
  align-items: flex-end;
}

.chatWrapper {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  align-items: flex-start;
}

.chatWrapper.you .chatUserName,
.chatWrapper.you .chatTimestamp {
  margin-right: 0.25rem;
  font-size: x-small;
}
.chatUserName,
.chatTimestamp {
  margin-left: 0.25rem;
  font-size: x-small;
}

.chatWrapper.you .chatContent {
  border-radius: 10px 0 10px 10px;
  /* background-color: indigo; */
  background: linear-gradient(45deg, indigo, hsl(275, 100%, 37%));
}

.chatContent {
  display: inline-block;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 0 10px 10px 10px;
  max-width: 50%;
  word-wrap: break-word;
  /* background-color: rgb(115, 35, 112); */
  background: linear-gradient(45deg, rgb(115, 35, 112), hsl(302, 53%, 43%));
}
